* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: #1F2937;
  height: 60px;
}

.header ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  padding-right: 100px;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  color: #E5E7EB;
  list-style-type: none;
}

.header img {
  height: 60px;
  width: auto;
}

.top-page {
  display: flex;
  background-color: #1F2937;
  height: 600px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.top-page-description {
  display: flex;
  flex-direction: column;
  width: 500px;
  
  
}

.top-page-description h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  padding-bottom: 10px;
  margin: 0;
}

.top-page-description p {
  padding-bottom: 20px;
  margin: 0;
  color: #E5E7EB;
}

.top-page-description button {
  background-color: rgb(4, 191, 248);
  color: #F9FAF8;
  width: 100px;
  height: auto;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.top-page img {
  height: 60%;
}

.mid-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.mid-page h1 {
  font-weight: 900;
  font-size: 36px;
  color: #1F2937;
  padding-bottom: 30px;
}

.mid-page-shoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  
}

.info img {
  width: 300px;
  height: auto;
}

.info {
  max-width: 300px;
  text-align: center;
}

.inspiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #E5E7EB;
}

#quote {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
}

#author {
  font-weight: 700;
  font-size: 24px;
  text-align: right;
}

.bottom-page {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-page-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 800px;
  background-color: #3882F6;
  border-radius: 10px;
  gap: 100px;
}

.quotes h3,
.quotes p{
  color: #E5E7EB;
  margin: 0;
  padding: 0;
}

.bottom-page-border button {
  background-color: transparent;
  border-color: white;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border-style: solid;
}